<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iteso.com.rentstudio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_LogIn" />
        <activity android:name=".Activity_Register_User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_LogIn" />
        </activity>
        <activity android:name=".Activity_Register_Lessor" />
        <activity
            android:name=".Activity_Main_Screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Start"
            android:theme="@style/noAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_Register_Property" />
        <activity android:name=".Activity_Rent" />
        <activity android:name=".Activity_Payment_Method">

        </activity>
        <activity android:name=".Activity_paypal" />
        <activity android:name=".Activity_card_payment" />
        <activity android:name=".Activity_help" />
        <activity android:name=".Activity_Settings" />
        <activity android:name=".Activity_Notifications" />
        <activity android:name=".Activity_Edit_User" />
        <activity android:name=".Activity_Eula">
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
    </application>

</manifest>